
@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<form data-url="${ctxPath}/${code}/save" method="post" class="form-horizontal" role="form">

    <!-- 表单 -->
    @ var _table="blade_legallist";
    @ var _col=[
    @			  {name:"分类",index:"legalcategory", type:"select_118",newline:true,length:8,required:"required"},
    @			  {name:"标题",index:"title", type:"text",newline:true,length:8,required:"required maxlength=28"},
    @			  {name:"摘要",index:"summary", type:"text",newline:true,length:8,required:"required"},
    @			  {name:"主图",index:"picture", type:"imgupload",newline:true,length:8,required:"required"},
    @			  {name:"发布时间",index:"contenttime", type:"laydate",newline:true,length:8},
    @			  {name:"链接",index:"jumplink", type:"text",newline:true,length:8},
    @			  {name:"文章来源",index:"articlesource", type:"text",newline:true,length:8,required:"required"},
    @			  {name:"作者",index:"author", type:"text",newline:true,length:8,required:"required"},
    @			  {name:"浏览人数",index:"looknumber", type:"number",newline:true,length:8,required:"required"},
    @			  {name:"正文",index:"maincontent", type:"kindeditor",newline:true,length:8,required:"required"}
    @		   ];
    @ include("/common/_curd/_add.html",{"col":_col,"table":_table}){}
    <!-- 按钮 -->

    @ include("/common/_curd/_btn.html",{btn_save:"新增",btn_close:"关闭"}) {}

</form>

<script type="text/javascript">
    $(function(){
        $("#btn_save").bind("click",function(){
            setTimeout(function(){parent.initZtree();}, 499);
        });
    });
</script>

@}
